.contact-page-content{
    background: rgba(255, 255, 255, 0.486);
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.contact-page-content h1{
    background: orangered;
    font-size: 40px;
    padding: 3px 10px;
    margin-bottom: 20px;
}
.form-container{
    width: 450px;
    padding: 15px 20px;
    border-radius: 3%;
    background: rgba(255, 255, 255, 0.555);
    box-shadow: 0 0 10px orangered, 0 0 10px orangered;
    margin: 15px auto;
}
.form-container form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.form-container form label{
    font-size: 20px;
    font-weight: 500;
    display: block;
    margin: 8px 0px;
}
.form-container form input{
    height: 30px;
    border-radius: 10px;
    border: none;
    box-shadow:  0 0 5px rgb(255, 38, 0), 0 0 5px rgb(255, 72, 0);
    font-size: 18px;
    padding-left: 10px;
    background: rgb(243, 224, 217);
    cursor: pointer;
}
.form-container form textarea{
    border-radius: 10px;
    background: rgb(243, 224, 217);
    box-shadow:  0 0 5px rgb(255, 38, 0), 0 0 5px rgb(255, 72, 0);
}
.form-container form button{
    height: 35px;
    width: 40%;
    margin-top: 20px;
    border: none;
    background: orangered;
    font-size: 25px;
    cursor: pointer;
    transition: 0.5s ease;
}
.form-container form button:hover{
    color: white;
    text-shadow: 2px 4px grey;
    transform: scale(1.02);
}
/*start of responsive*/
@media (max-width: 600px){
    .form-container{
        width: 80%;
    }
}